table,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
a{
    color:blue;
    text-decoration: none;
}

a:hover{
    text-decoration: underline ;
}

body{
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
    margin: 0;
 
    padding: 0;

}

label{
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input, select, button{
    width: 100px;
    padding: 10px;
    margin-top: 6px;
    border-radius: 6px;
    border: 1px solid black;
}
